:root {
  --color-primary: #493628;
  --color-secondary: #ab886d;
  --color-background: #e4e0e1;
  --color-bottom: #ccc9c9;
  --color-tertiary: #d6c0b3;

  --color-primary-translucent: #493628de;
  --color-secondary-translucent: #ab886dde;
  --color-background-translucent: #e4e0e1de;
  --color-bottom-translucent: #ccc9c9de;
  --color-tertiary-translucent: #d6c0b3de;

  --blur-radius: 16px;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

  background-color: var(--color-bottom);
  display: flex;
  flex-direction: column;
}

header {
  background-color: var(--color-primary-translucent);
  backdrop-filter: blur(var(--blur-radius));
  color: var(--color-background);
  display: flex;
  flex-direction: column;
  flex: 1;

  position: sticky;
  top: 0;
  z-index: 1000;

  box-shadow: 0px 0px 0.5em var(--color-primary);

  .top {
    padding: 1em;
    padding-bottom: 0.5em;
  }

  & > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .icon-btn {
    img {
      width: 2em;
      height: 2em;
    }
  }

  .title,
  h1,
  h2,
  h3 {
    margin: 0;
    padding: 0;
  }

  .title {
    font-size: 1em;
  }

  h1 {
    font-size: 1.5em !important;
  }

  h3 {
    font-size: 0.8em !important;
  }
}

main {
  flex: 1000;
  height: min-content;
}

.icon-btn {
  border: none;
  color: var(--color-background);
  font-size: 1em;
  cursor: pointer;
  transition: filter 0.2s ease-in-out;
  padding: 0.5em;
  padding-bottom: 0.25em;

  &:hover {
    filter: brightness(0.9);
  }

  &:active {
    filter: brightness(0.8);
  }

  & > img {
    width: 1.5em;
    height: 1.5em;
    padding: 0;
    margin: 0;
    aspect-ratio: 1/1;
  }
}

.tabs {
  padding: 0.5em;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 0.1em;

  > * {
    flex: 1;
  }
}

.tab {
  background: none;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  font-weight: bolder;
  gap: 1em;

  border-radius: 0.5em;
  border: 0.2em solid var(--color-secondary);

  transition: filter 0.2s ease-in-out, border-bottom 0.2s ease-in-out;

  color: var(--color-secondary);
  background-color: transparent;

  cursor: pointer;

  & > img {
    transition: filter 0.2s ease-in-out;
  }

  &:hover {
    filter: brightness(0.8);
  }

  &:active {
    filter: brightness(0.6);
  }

  &:active,
  &.active {
    color: var(--color-primary);
    background-color: var(--color-secondary);

    & > img {
      filter: brightness(0) saturate(100%) invert(17%) sepia(6%) saturate(3701%)
        hue-rotate(342deg) brightness(97%) contrast(82%);
    }
  }

  &:not(.active):not(:active) > img {
    filter: brightness(0) saturate(100%) invert(61%) sepia(28%) saturate(455%)
      hue-rotate(344deg) brightness(88%) contrast(83%) !important;
  }
}

.icon {
  --svg-color: var(--color-background);
  color: var(--color-primary);
  width: 1.5em;
  height: 1.5em;
  padding: 0;
  margin: 0;

  aspect-ratio: 1/1;
}

.menu-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(11em, 1fr));
  gap: 0.5em;
  padding: 0.5em;
}

.menu-item {
  background-color: var(--color-background);
  color: var(--color-primary);
  border: 0.1em solid var(--color-tertiary);
  box-shadow: #000000 0px 0px 0.2em;
  border-radius: 0.5em;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1em;
  font-weight: bolder;
  gap: 0.5em;

  transition: filter 0.2s ease-in-out;

  user-select: none;

  cursor: pointer;

  &:hover {
    filter: brightness(0.8);
  }

  &:active {
    filter: brightness(0.6);
  }

  img {
    width: 10em;
    border-radius: 0.5em;
  }

  h2,
  p {
    margin: 0;
  }
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background-color: #49362836;
  backdrop-filter: blur(4px);

  display: flex;
  align-items: center;
  justify-content: center;
}

.dialog-card {
  position: fixed;

  z-index: 9999999;
  background-color: var(--color-background);
  color: var(--color-primary);
  backdrop-filter: blur(4px);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 0.25em;
  border-radius: 1em;
  padding: 1em;
  margin: 1em;

  overflow-y: scroll;
  overflow-x: hidden;

  max-width: 80dvw;
  max-height: 80dvh;

  & > .title {
    margin: 0;
    padding: 0;
  }

  & > img {
    width: 10em;
    height: 10em;
    border-radius: 0.5em;
  }

  & .buttons {
    font-size: 0.9em;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
    width: 100%;

    & > * {
      flex: 1;
    }
  }

  /* Custom scrollbar for dialog-card */
  &::-webkit-scrollbar {
    width: 1em;
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--color-primary-translucent);
    border-radius: 1em;
    min-height: 2em;
    border: 0.2em solid transparent;
    background-clip: padding-box;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 1em;
  }

  /* Firefox */
  scrollbar-width: auto;
  scrollbar-color: var(--color-primary-translucent) transparent;
}

.customizations {
  display: flex;
  flex-direction: column;
  gap: 2em;
  width: 100%;
  height: 100%;
}

.customization {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  width: 100%;
  height: 100%;
  align-items: center;

  p {
    font-weight: bold;
    margin: 0.5em;
  }

  &:first-child {
    font-weight: bold !important;
  }

  &.quantity {
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    & > .quantity-control {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.1em;
      margin-right: -0.1em;
      margin-left: -0.1em;
      & > button {
        padding: 0.4em;
        padding-bottom: 0.2em;
      }
      -webkit-user-drag: none;
      user-select: none;
    }
  }

  &.selection {
    display: block;

    & > .selection-options {
      display: flex;
      flex-direction: column;
      gap: 0.5em;

      & > .option {
        background-color: var(--color-background);
        color: var(--color-primary);
        box-shadow: inset 0px 0px 0px 0.15em var(--color-secondary);

        gap: 0.5em;

        & > img {
          user-select: none;
          -webkit-user-drag: none;
          filter: brightness(0) saturate(100%) invert(17%) sepia(6%)
            saturate(3701%) hue-rotate(342deg) brightness(97%) contrast(82%);
        }

        & > *:first-child {
          flex: 1;
        }

        & > *:nth-child(2) {
          flex-grow: 100;
          text-align: start;
        }
        & > *:last-child {
          flex: 1;
          text-align: end;
        }
      }

      & > .option.active {
        background-color: var(--color-primary) !important;
        color: var(--color-background) !important;
        box-shadow: none;

        & > img {
          user-select: none;
          -webkit-user-drag: none;
          filter: brightness(0) saturate(100%) invert(82%) sepia(3%)
            saturate(151%) hue-rotate(148deg) brightness(111%) contrast(91%);
        }
      }
    }
  }
}

.flash-red {
  animation: flash-red 0.5s ease-in-out;
  transform-origin: left;
}
@keyframes flash-red {
  0% {
    color: var(--color-primary);
    scale: 1;
  }
  50% {
    color: #ff0000;
    scale: 1.05;
  }
  75% {
    color: #ff0000;
    scale: 1.05;
  }
  100% {
    color: var(--color-primary);
    scale: 1;
  }
}

.shake {
  animation: shake 0.5s ease-in-out;
  transform-origin: center;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  15% {
    transform: translateX(-0.25em);
  }
  30% {
    transform: translateX(0.25em);
  }
  45% {
    transform: translateX(-0.25em);
  }
  60% {
    transform: translateX(0.25em);
  }
  75% {
    transform: translateX(-0.25em);
  }
  100% {
    transform: translateX(0);
  }
}

button {
  background-color: var(--color-primary);
  color: var(--color-background);
  border: none;
  padding: 0.5em;
  border-radius: 1em;
  font-size: 1em;
  font-weight: bolder;
  cursor: pointer;
  transition: filter 0.2s ease-in-out, background-color 0.2s ease-in-out,
    scale 0.1s ease-in-out;

  &:hover {
    filter: brightness(0.9);
    scale: 1.005;
  }

  &:active {
    filter: brightness(0.8);
    scale: 0.995;
  }

  &.secondary {
    background-color: var(--color-secondary);
    color: var(--color-primary);
  }

  &.tertiary {
    background-color: var(--color-tertiary);
    color: var(--color-background);
  }

  &.empty {
    background-color: transparent;
    color: var(--color-primary);
    border: 0.15em solid var(--color-secondary);
  }

  &.background {
    background-color: var(--color-background);
    color: var(--color-primary);
    box-shadow: inset 0px 0px 0px 0.15em var(--color-secondary);
  }

  &.transparent {
    background-color: transparent;
    color: var(--color-primary);
  }
}

button.icon-btn-label {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.25em;
  padding: 1em;
  & > img {
    width: 1.5em;
    height: 1.5em;
    padding: 0;
    margin: 0;
    aspect-ratio: 1/1;
  }
  & > p {
    margin: 0;
  }
}

input {
  background-color: white;
  color: var(--color-primary);
  border: 0.1em solid var(--color-tertiary);
  padding: 0.5em;
  border-radius: 0.5em;
  font-size: 1em;
  font-weight: bolder;
  cursor: pointer;
  transition: filter 0.2s ease-in-out, background-color 0.2s ease-in-out;

  &:hover {
    filter: brightness(0.8);
  }

  &:active {
    filter: brightness(0.6);
  }
}

select {
  background-color: white;
  color: var(--color-primary);
  border: 0.1em solid var(--color-tertiary);
  padding: 0.5em;
  border-radius: 0.5em;
  font-size: 1em;
  font-weight: bolder;
  cursor: pointer;
  transition: filter 0.2s ease-in-out, background-color 0.2s ease-in-out;

  &:hover {
    filter: brightness(0.8);
  }

  &:active {
    filter: brightness(0.6);
  }
}

.filter-primary {
  user-select: none;
  -webkit-user-drag: none;
  filter: brightness(0) saturate(100%) invert(17%) sepia(6%) saturate(3701%)
    hue-rotate(342deg) brightness(97%) contrast(82%);
}

.filter-secondary {
  user-select: none;
  -webkit-user-drag: none;
  filter: brightness(0) saturate(100%) invert(61%) sepia(28%) saturate(455%)
    hue-rotate(344deg) brightness(88%) contrast(83%);
}

.filter-tertiary {
  user-select: none;
  -webkit-user-drag: none;
  filter: brightness(0) saturate(100%) invert(89%) sepia(24%) saturate(343%)
    hue-rotate(322deg) brightness(91%) contrast(82%);
}

.filter-background {
  user-select: none;
  -webkit-user-drag: none;
  filter: brightness(0) saturate(100%) invert(82%) sepia(3%) saturate(151%)
    hue-rotate(148deg) brightness(111%) contrast(91%);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.col {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.disabled {
  display: none;
}

.hidden {
  visibility: hidden;
}

/*
* {
  outline: 1px dashed yellow;
}
*/
